:root {
    --font-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --color-green-200: #c5e5b4;
    --color-green-400: #84ba64;
    --color-green-600: #417e38;
    --color-green-900: #1a3f1d;
    --color-gray-200: #e5e7eb;
    --color-neutral-100: #f6f7f9;
    --color-neutral-200: #e9edf0;
    --color-neutral-300: #d9e1e4;
    --color-neutral-400: #cbd4d9;
    --color-neutral-500: #b1bcc2;
    --color-neutral-600: #929fa5;
    --color-neutral-700: #6e7b83;
    --color-neutral-800: #556066;
    --color-neutral-900: #2c3437;
    --color-neutral-950: #0d121c;
    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --container-3xs: 16rem;
    --container-2xs: 18rem;
    --container-sm: 24rem;
    --container-xl: 36rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: 1.33333;
    --text-sm: 0.875rem;
    --text-sm--line-height: 1.42857;
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.55556;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.4;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.33333;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: 1.11111;
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --radius-xs: 0.125rem;
    --radius-md: 0.375rem;
    --default-transition-duration: 0.15s;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-pulse-100: #0000330f;
    --color-pulse-200: #00002d17;
    --color-pulse-300: #ddeaf814;
    --color-pulse-400: #d3edf81d;
    --color-shadow: #101828;
    --font-open-sans: var(--font-open-sans);
    --font-ibm-plex-mono: var(--font-ibm-plex-mono);
    --font-weight-regular: 400;
    --twoslash-border-color: #8888;
    --twoslash-underline-color: currentColor;
    --twoslash-highlighted-border: #c37d0d50;
    --twoslash-highlighted-bg: #c37d0d20;
    --twoslash-popup-bg: #f8f8f8;
    --twoslash-popup-color: inherit;
    --twoslash-popup-shadow: #00000014 0px 1px 4px;
    --twoslash-docs-color: #888;
    --twoslash-docs-font: sans-serif;
    --twoslash-code-font: inherit;
    --twoslash-code-font-size: 1em;
    --twoslash-matched-color: inherit;
    --twoslash-unmatched-color: #888;
    --twoslash-cursor-color: #8888;
    --twoslash-error-color: #d45656;
    --twoslash-error-bg: #d4565620;
    --twoslash-warn-color: #c37d0d;
    --twoslash-warn-bg: #c37d0d20;
    --twoslash-tag-color: #3772cf;
    --twoslash-tag-bg: #3772cf20;
    --twoslash-tag-warn-color: var(--twoslash-warn-color);
    --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
    --twoslash-tag-annotate-color: #1ba673;
    --twoslash-tag-annotate-bg: #1ba67320;
    --tw-border-style: {
        syntax: "*";
        inherits: false;
        initial-value: solid;
    };
}
